
.searchCityForecast {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 3rem;
height: 100vh;
width: 100vw;
background-image: url(https://res.cloudinary.com/dxxkog06n/image/upload/v1680931300/white-cloud-blue-sky_wgxtcm.jpg);
background-size: cover;
}
.selectedCity {
    font-size: 50px;
}

.selectCityForecastbuttons {
    display: flex;
    gap: 1rem;
}

.dataForecast {
    display: flex;
    align-items: flex-start;
}

@media screen and(max-width: 768px) {
    .searchCityForecast {
        gap: 0;
    }
    
  } 
    
