.localForecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
    height: 100vh;
    width: 100vw;
    gap: 3rem;
    background-image: url(https://res.cloudinary.com/dxxkog06n/image/upload/v1680931300/white-cloud-blue-sky_wgxtcm.jpg);
    background-size: cover;
}

.dataForecast {
    display: flex;
    gap: 3rem;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
